.recommended {
  &__products {
    @include page-grid;

    &:not(:first-of-type) {
      margin-top: 20px;
    }
  }

  &__product {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: span 4;
    }
  }
}
